.advantages {
  padding-top: 41px;
}

.advantages__header {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  padding-right: 12px;
  padding-left: 12px;
}

.advantages__slogan {
  font-family: $basic-font;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  font-style: normal;
  color: $bg-black;
  text-transform: uppercase;
}

.advantages__intro {
  font-family: $basic-font;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  font-style: normal;
  color: $bg-grey;
  text-transform: uppercase;
  margin-top: 28px;
  margin-bottom: 25px;
  letter-spacing: 0.1px;
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-top: 48.5px;
  }

  .advantages__header {
    padding-right: 119px;
    padding-left: 119px;
    letter-spacing: 0.2px;
  }

  .advantages__slogan {
    font-size: 21px;
  }

  .advantages__intro {
    margin-top: 29px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__header {
    padding-right: 335px;
    padding-left: 335px;
  }

  .advantages__intro {
    margin-top: 29px;
  }
}
