.advantages__header {
  text-align: center;
  width: 255px;
  padding-top: 40px;
  padding-left: 32px;
}

.advantages__slogan {
  font-family: $basic-font;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  font-style: normal;
  color: $bg-black;
  text-transform: uppercase;
}

.advantages__intro {
  font-family: $basic-font;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  font-style: normal;
  color: $bg-grey;
  text-transform: uppercase;
  margin-top: 29px;
  margin-bottom: 25px;
}
