.develop {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 23px;
}

.develop__text {
  font-family: $basic-font;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  font-style: normal;
  color: $bg-black;
  text-transform: uppercase;
  margin-right: 10px;
}

.develop__photo-image {
  fill: $bg-black;
  vertical-align: middle;
}

@media (min-width: $tablet-width) {
  .develop {
    margin-top: 32px;
  }
}
