.develop {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 23px;
  margin-right: 20px;
  margin-left: 20px;
  padding-right: 70px;
  padding-left: 70px;
}

.develop__text {
  font-family: $basic-font;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  font-style: normal;
  color: $bg-black;
  text-transform: uppercase;
  margin-right: 10px;
  letter-spacing: 0.2px;
}

.develop__photo-image {
  fill: $bg-black;
  vertical-align: middle;

  &:hover {
    fill: #81b3d2;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .develop {
    margin-top: 32px;
    @include margins-reset;
  }
}
