.gallery {
  padding-top: 38.5px;
  padding-bottom: 38px;
}

.gallery__header {
  text-align: center;
}

.gallery__slogan {
  font-family: $basic-font;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  font-style: normal;
  color: $bg-black;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 26px;
  margin-right: 20px;
  margin-left: 20px;
  padding-right: 70px;
  padding-left: 70px;
}

.gallery__intro {
  font-family: $basic-font;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  color: $bg-grey;
  text-transform: uppercase;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 27px;
  padding-right: 4px;
  padding-left: 4px;
}

@media (min-width: $tablet-width) {

  .gallery {
    padding-top: 75px;
    padding-bottom: 41px;
  }

  .gallery__slogan {
    margin-bottom: 32px;
    font-size: 30px;
  }

  .gallery__intro {
    margin-bottom: 68px;
    padding-right: 150px;
    padding-left: 150px;
  }
}

@media (min-width: $desktop-width) {

  .gallery {
    padding-top: 0;
    padding-bottom: 85px;
  }

  .gallery__slogan {
    margin-top: 110px;
    padding-right: 360px;
    padding-left: 360px;
  }

  .gallery__intro {
    margin-bottom: 70px;
    padding-right: 363px;
    padding-left: 360px;
  }
}
