.visually-hidden:not(:focus):not(:active) {
  @include visually-hidden;
}

body {
  background-color: $bg-white;
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  color: $bg-black;
  font-size: 14px;
  line-height: 21px;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
}

@media (min-width: $desktop-width) {
  .body-wrap {
    width: $desktop-width;
    background-color: $bg-white;
    display: block;
    box-sizing: border-box;
    box-shadow: inset 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
    margin: 0 auto;
  }
}
