.list-menu {
  list-style: none;
  padding-left: 0;
  text-align: center;
  margin-bottom: 0;
}

.list-menu__title {
  font-family: $basic-font;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  margin-right: 20px;
  margin-left: 20px;
  letter-spacing: 0.2px;
}

.list-menu__number {
  font-family: $basic-font;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  margin-right: 20px;
  margin-left: 20px;
}

.list-menu__slogan {
  font-family: $basic-font;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  margin-right: 20px;
  margin-left: 20px;
  letter-spacing: 0.1px;
}

.list-menu__block-text {
  background-color: $bg-blue;
}

.list-menu__photo-image {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.list-menu__item {
  &--blue {
    .list-menu__title {
      margin-top: 0;
      margin-bottom: 9.5px;
      padding-top: 39px;
      color: $bg-white;
    }

    .list-menu__number {
      margin-top: 0;
      margin-bottom: 0;
      color: $bg-white;
    }

    .list-menu__slogan {
      margin-top: 15px;
      margin-bottom: 0;
      padding-bottom: 40.5px;
      color: $bg-white;
    }
  }

  &--big {
    position: relative;

    .list-menu__title {
      padding-top: 57px;
    }

    .list-menu__slogan {
      padding-bottom: 44px;
    }

    .list-menu__pattern {
      width: 100%;
      position: absolute;
      left: 0;
      top: -20px;
    }
  }
}

@media (min-width: $tablet-width) {
  .list-menu {
    margin-top: 51px;
  }

  .list-menu__block-text {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 256px;
  }

  .list-menu__block-photo {
    width: 67%;
    position: relative;
    overflow: hidden;
  }

  .list-menu__item {
    display: flex;

    &:nth-child(3) .list-menu__block-text {
      order: 2;
    }

    &--big {
      .list-menu__pattern {
        display: none;
      }

      .list-menu__title {
        padding-top: 44px;
      }
    }

    &--blue {
      width: 100%;

      .list-menu__title {
        margin-bottom: 11.5px;
        font-size: 21px;
      }

      .list-menu__slogan {
        margin-top: 22px;
        padding-right: 23px;
        padding-left: 23px;
      }
    }
  }

  .list-menu__photo-image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media (min-width: $desktop-width) {
  .list-menu__photo-image {
    top: 0;
    left: 0;
  }
}
