.list-menu-grey {
  background-color: $bg-lightgrey;
  list-style: none;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  margin-bottom: 0;
}

.list-menu-grey__item {
  &--border::before,
  &--border::after {
    content: " ";
    background-color: #d6d6d6;
    display: block;
    width: 280px;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  &:last-child {
    .list-menu-grey__slogan {
      padding-bottom: 27px;
    }
  }
}

.list-menu-grey__wrap {
  padding-top: 26px;
}

.list-menu-grey__title {
  font-family: $basic-font;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  font-style: normal;
  color: $bg-black;
  text-transform: uppercase;
  margin-top: 0;
  padding-right: 15.5px;
  padding-left: 15.5px;
  margin-bottom: 9.5px;
  letter-spacing: 0.1px;

  & br {
    display: none;
  }
}

.list-menu-grey__number {
  font-family: $basic-font;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  font-style: normal;
  color: $bg-grey;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.list-menu-grey__slogan {
  font-family: $basic-font;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  font-style: normal;
  color: $bg-grey;
  text-transform: uppercase;
  padding-left: 15.5px;
  padding-right: 15.5px;
  padding-bottom: 11px;
  letter-spacing: 0.1px;
  margin-top: 15px;
  margin-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .list-menu-grey {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-right: 0;
    padding-left: 0;
  }

  .list-menu-grey__title {
    font-size: 21px;
    padding-top: 19px;
    padding-right: 58.5px;
    padding-left: 58.5px;
    margin-bottom: 12.5px;

    & br {
      display: block;
    }
  }

  .list-menu-grey__slogan {
    margin-top: 21px;
    padding-right: 0;
    padding-left: 0;
    letter-spacing: normal;
  }

  .list-menu-grey__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-right: 48px;
    padding-left: 48px;
  }

  .list-menu-grey__item {
    width: 33.3%;
    min-height: 256px;

    &--border::before,
    &--border::after {
      display: none;
    }

    &:last-child .list-menu-grey__slogan {
      padding-bottom: 11.5px;
    }
  }
}

@media (min-width: $desktop-width) {
  .list-menu-grey__title {
    margin-bottom: 10px;
  }
}
