.main-nav__toggle {
  background-color: transparent;
  background-image: url(/img/icon-menu.svg);
  width: 22.928px;
  height: 21.982px;
  border: none;
}

.main-nav__wrap {
  width: 320px;
}

.list-top-menu {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.main-nav__list {
  flex-direction: column;
}

.list-top-menu__item {
  background-color: $bg-blue;
}


.list-top-menu__link {
  font-family: $basic-font;
  font-size: 18px;
  line-height: 40px;
  font-weight: $bold;
  font-style: normal;
  color: $bg-white;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  text-align: center;

}
