.main-nav__btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 16px;
  right: 14px;
}

.main-nav__icon {
  fill: $bg-white;
}

.main-nav__list {
  background-color: $bg-blue;
  box-shadow: inset 0px -4px 7px -2px rgba(0,0,0,0.2);
}
