.main-photo {
  background: url("../img/bg-intro-triangle-mobile.svg") center 364px no-repeat,
    url("../img/text-sedona-index.svg") center center no-repeat,
    $bg-blue url("../img/bg-back-mobile@1x.jpg") center 0 no-repeat;
  background-size: 100%, 282px 214px, auto;
  height: 389px;
}

  /*.main-photo::before {
    content: url("../img/text-sedona-index.svg");
    width: 282px;
    height: 214px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-141px);
}*/

@media (min-width: $tablet-width) {
  .main-photo {
    background: url("../img/bg-intro-triangle-tablet.svg") center bottom no-repeat,
    $bg-blue url("../img/bg-back-tablet@1x.jpg") center center no-repeat;
    background-size: 100%, 100% 518px;
    height: 518px;
  }

  .main-photo::before {
    content: url("../img/text-sedona-index.svg");
    width: 460px;
    height: 350px;
    display: block;
    opacity: 0.48;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-230px) translateY(-175px);
  }
}
