.main-photo {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: $bg-blue;
  background-repeat: no-repeat;
  background-position: center 0;
  position: relative;
  margin-top: 56px;

  &--big {
    height: 389px;
  }
}

.main-photo__pattern {
  position: absolute;
  top: 363.9px;
  left: 0;
}

.main-photo__text {
  position: absolute;
  top: 91px;
  left: 19px;
}
