.main-nav__btn {
  background-color: transparent;
  border: none;

  &--reset {
    position: absolute;
    top: 16px;
    right: 14px;
  }

  &--toggle {
    position: absolute;
    top: 239px;
    right: 14px;
  }
}

.main-nav__icon {
  &--on {
    fill: $bg-blue;
  }
  &--off {
    fill: $bg-white;
  }
}

.main-nav__list {
  background-color: $bg-blue;
  box-shadow: inset 0px -4px 7px -2px rgba(0,0,0,0.2);
}
