.map {
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;
  width: 320px;
  height: 350px;
  position: relative;
}

.map__icon-marker {
  position: absolute;
  top: 160px;
  left: 146px;
}

@media (min-width: $tablet-width) {
  .map {
    background-image: url("../img/bg-map-tablet@1x.jpg");
    width: 768px;
    height: 350px;
  }

  .map__icon-marker {
    top: 164px;
    left: 370px;
  }
}
