.offers {
  list-style: none;
  padding-top: 34px;
  padding-left: 0;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  background-color: $bg-white;
}

.offers__item {
  position: relative;
  text-align: left;
  margin-bottom: 28px;
}

.offers__title {
  font-family: $basic-font;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  font-style: normal;
  color: $bg-black;
  display: inline;
  padding-left: 70px;
}

.offers__slogan {
  font-family: $basic-font;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  font-style: normal;
  color: $bg-grey;
  padding-right: 40px;
  padding-left: 70px;
  margin-top: 15px;
  margin-bottom: 0;
  letter-spacing: 0.1px;
}

.offers__photo {
  fill: $bg-blue;
  position: absolute;

  &--home {
    left: 22px;
    top: -9px;
  }

  &--gift {
    left: 25.5px;
    top: -11px;
  }

  &--food {
    left: 18px;
    top: -5px;
  }
}

@media (min-width: $tablet-width) {
  .offers {
    display: flex;
    padding-top: 57px;
    padding-bottom: 32px;
  }

  .offers__photo {
    position: static;

    &--home {
      width: 75px;
      height: 72px;
    }

    &--gift {
      width: 64px;
      height: 75px;
    }

    &--food {
      width: 77px;
      height: 68px;
    }
  }

  .offers__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33.3%;

    &:nth-child(2) {
      order: 3;
    }

    &:nth-child(3) {
      order: 2;
    }
  }

  .offers__title {
    font-size: 21px;
    padding-left: 0;
  }

  .offers__slogan {
    padding-left: 0;
    padding-right: 0;
  }

}
