@media (min-width: $tablet-width) {
  .page-footer__wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    margin-right: 60px;
    margin-left: 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: $desktop-width;
  }

  .page-footer__wrap {
    padding-top: 22px;
    margin-right: 120px;
    margin-left: 120px;
  }
}
