.page-header__wrap {
  background-color: $bg-white;
  display: flex;
}

.page-header__link {
  margin-left: -51px;
  margin-bottom: -27px;
  left: 50%;
  position: relative;
}

.page-header__logo-image {
  display: block;
}

.page-header__btn {
  background-color: transparent;
  border: none;
  padding-top: 3px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 2.5px;
  margin-right: 10px;
  margin-left: auto;
}

.page-header__icon {
  fill: $bg-blue;
}

@media (min-width: $tablet-width) {
  .page-header__btn {
    display: none;
  }

  .page-header__link {
    margin-top: -56px;
    position: absolute;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: $desktop-width;
  }

  .page-header__link {
    margin-left: -94px;
  }
}
