@media (min-width: $tablet-width) {
  .page-footer__wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
    margin-right: 60px;
    margin-left: 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrap {
    margin-right: 120px;
    margin-left: 120px;
  }
}
