.photo-gallery {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #e5e5e5;
}

.photo-gallery__item {
  border-top: 1px solid #e5e5e5;
  padding-top: 22px;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 15.5px;
  }
}

.photo-gallery__photo-image {
  object-fit: fill;
  display: block;
}

.photo-gallery__wrap-caption {
  padding-right: 20px;
  padding-left: 20px;
  width: 280px;
  margin: 0 auto;
}

.photo-gallery__caption {
  font-family: $basic-font;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: $bg-black;
  text-transform: uppercase;
  display: block;
  margin-top: 15px;
  letter-spacing: 0.2px;
}

.photo-gallery__sign {
  font-family: $basic-font;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  color: $bg-grey;
  display: block;
  margin-bottom: 6px;
}

.photo-gallery__link {
  margin-right: 10px;
  text-decoration: none;
}

.photo-gallery__icon {
  fill: $bg-black;
  opacity: 0.3;
}

.photo-gallery__number-like {
  font-family: $basic-font;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  font-style: normal;
  color: $bg-black;
  margin-left: 10px;
}

@media (min-width: $tablet-width) {
  .photo-gallery {
    width: 648px;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    border: none;
  }

  .photo-gallery__item {
    border: none;
    padding-top: 0;
    margin-bottom: 0;

    &:nth-child(1) {
      width: 100%;
    }

    &:nth-child(2+n) {
      width: 50%;
    }
  }

  .photo-gallery__wrap-list {
    margin-left: 20px;
  }

  .photo-gallery__wrap-caption {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 11px;
    background-color: #eaeaea;
  }

  .photo-gallery__sign {
    letter-spacing: 0.1px;
  }

  .photo-gallery__link {
    width: 85px;
    margin-top: 26px;
    margin-right: 0;
  }

  .photo-gallery__number-like {
    margin-left: 4px;
  }
}

@media (min-width: $desktop-width) {

  .photo-gallery {
    width: 1200px;
  }

  .photo-gallery__item {
    position: relative;

    &:nth-child(2+n) {
      width: 33.3%;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .photo-gallery__wrap-caption {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.3);
  }

  .photo-gallery__caption {
    color: $bg-white;
  }

  .photo-gallery__sign {
    color: $bg-white;
  }

  .photo-gallery__icon {
    fill: #ffffff;
    opacity: 1.0;
  }

  .photo-gallery__number-like {
  color: $bg-white;
  }
}
