.reviews-form { //comment
  border-top: 1px solid #e5e5e5;
}

.reviews-form__title {
  font-family: $basic-font;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  font-style: normal;
  color: $bg-black;
  text-transform: uppercase;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 22.5px;
  padding-top: 17.5px;
  letter-spacing: 0.2px;

  &--contacts {
    padding-top: 18.5px;
  }

  &--emotion {
    margin-bottom: 18px;
  }
}

.reviews-form__list {
  list-style: none;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  width: 280px;

  &--radio {
    margin-top: 14px;
  }

  &--checkbox {
    margin-top: 9px;
  }
}

.reviews-form__item {
  &--text {
    margin-bottom: 20px;
    display: flex;
  }

  &--number {
    margin-bottom: 12px;

    .reviews-form__subtitle--light {
      padding-left: 22px;
      margin-bottom: 6.5px;
    }
  }

  &--radio {
    margin-bottom: 44px;

    &:last-child {
      margin-bottom: 42px;
    }
  }

  &--checkbox {
    margin-bottom: 54px;

    &:last-child {
      margin-bottom: 42px;
    }
  }
}

.reviews-form__wrap-inp {
  display: flex;
}

.reviews-form__block {
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #e5e5e5;
  border-left: none;
  padding: 0;
  margin-right: 0;
  margin-left: 0;

  &--full-name {
    padding-bottom: 3px;
  }

  &--contacts {
    padding-bottom: 16px;
  }

  &--emotion {
    border-bottom: none;
    padding-bottom: 8.5px;
  }
}

.reviews-form__subtitle {
  font-family: $basic-font;
  line-height: 26px;
  font-style: normal;

  &--light {
    font-size: 14px;
    font-weight: normal;
    color: $bg-grey;
    text-transform: uppercase;
    margin-right: 14px;
    display: flex;
    align-items: center;
  }

  &--dark {
    font-size: 18px;
    font-weight: bold;
    color: $bg-black;
    position: relative;
    padding-left: 57px;
  }
}

.reviews-form__inp {
  background-color: #f2f2f2;
  border: 4px solid #f2f2f2;
  box-sizing: border-box;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 19px;

  &--text {
    width: 100%;
  }

  &--number {
    padding-top: 17.5px;
    padding-left: 17px;
    flex-grow: 1;
  }

  &--radio,
  &--checkbox {
    @include visually-hidden;
  }

  &:hover {
    background-color: #e5e5e5;
    border: 4px solid #e5e5e5;
  }

  &:active {
    background-color: $bg-white;
    border: solid 4px #e5e5e5;
  }
}

.reviews-form__inp::placeholder,
.reviews-form__textarea::placeholder {
  font-family: $basic-font;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  font-style: normal;
  color: $bg-black;
}

.reviews-form__inp--radio {
  margin-bottom: 23px;
}

.reviews-form__inp--checkbox {
  margin-bottom: 25px;
}

.reviews-form__radio-box {
  background-color: #f2f2f2;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  position: absolute;
  top: -16px;
  left: -20px;
}

.reviews-form__checkbox {
  background-color: #f2f2f2;
  width: 56px;
  height: 56px;
  border-radius: 3px;
  position: absolute;
  top: -16px;
  left: -20px;
}

.reviews-form__textarea {
  background-color: #f2f2f2;
  border: none;
  width: calc(100% - 40px);
  height: 160px;
  padding-top: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 22px;
  box-sizing: border-box;
  display: block;
  margin-right: 20px;
  margin-bottom: 42px;
  margin-left: 20px;
  resize: none;
}

.reviews-form__block-icon {
  background-color: #e6e6e6;
  width: 58px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews-form__wrap-btn {
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

.reviews-form__btn {
  width: 100%;
  border: none;
}

.reviews-form__desc {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews-form {
    display: flex;
    flex-wrap: wrap;
    width: 648px;
    margin-right: auto;
    margin-left: auto;
    border: none;
  }

  .reviews-form__block {
    display: flex;
    &--impression {
      order: 1;
      width: 50%;
      border: none;
    }

    &--full-name {
      order: 2;
      width: 50%;
      border: none;

    }

    &--contacts {
      order: 3;
      width: 100%;
      border-top: 1px solid #dbdbdb;
      border-bottom: none;

      .reviews-form__title {
        padding-right: 50px;
        padding-left: 50px;
      }

      .reviews-form__list {
        @include margins-reset;
        width: auto;
      }
    }

    &--sight {
      order: 4;
      width: 100%;
      border-top: 1px solid #dbdbdb;
      border-bottom: none;

      .reviews-form__title {
        padding-right: 50px;
        padding-left: 50px;
      }
    }

    &--emotion {
      order: 5;
      width: 100%;
      border-top: 1px solid #dbdbdb;

      .reviews-form__title {
        padding-right: 50px;
        padding-left: 50px;
      }
    }
  }

  .reviews-form__title {
    font-size: 21px;
  }



  .reviews-form__list {
    //display: flex;
    //width: 648px;
  }


  .reviews-form__textarea {
    width: calc(100% - 120px);
    margin-right: 60px;
    margin-left: 60px;
  }

  .reviews-form__wrap-btn {
    display: flex;
    justify-content: space-between;
    order: 6;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  .reviews-form__btn {
    width: 324px;
  }

  .reviews-form__desc {
    font-family: $basic-font;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    font-style: normal;
    color: $bg-grey;
    text-transform: uppercase;
    display: block;
  }

}
