@import "variables";
@import "blocks/main-nav";
@import "blocks/offers";
@import "blocks/booking";
@import "blocks/socials";
@import "blocks/advantages";
@import "blocks/page-footer";
@import "blocks/socials-list";
@import "blocks/develop";


.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0px;
	padding: 0px;
	overflow: hidden;
	white-space: nowrap;
	clip-path: inset(100%);
}

body {
  background-color: #ffffff;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
}
