$basic-font: "PT Sans", "Arial", sans-serif;
$bg-black: #000000;
$bg-white: #ffffff;
$bg-grey: #333333;
$bg-lightgrey: #eeeeee;
$bg-blue: #81b3d2;
$tablet-width: 768px;
$desktop-width: 1200px;
$retina-dppx: 1.5dppx;
