$basic-font: "PT Sans", "Arial", sans-serif;
$biggest-size: 1.6em;   /*26px*/
$big-size: 1.3em;       /*21px*/
$middle-size: 0.875em;  /*14px*/
$bg-black: #000000;
$bg-white: #ffffff;
$bg-grey: #333333;
$bg-lightgrey: #eeeeee;
$bg-blue: #81b3d2;
$bold: bold;
